{% load static %}
<!doctype html>
<html lang="tr">

<head>

    <meta charset="utf-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1"
    >

    <title>
        {% block title %}
            ArventaHastane
        {% endblock %}
    </title>

    <link
        rel="preconnect"
        href="https://fonts.googleapis.com"
    >

    <link
        rel="preconnect"
        href="https://fonts.gstatic.com"
        crossorigin
    >

    <link
        href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap"
        rel="stylesheet"
    >

    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
        rel="stylesheet"
    >

    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css"
        rel="stylesheet"
    >

    <link
        rel="stylesheet"
        href="{% static 'css/variables.css' %}"
    >

    <link
        rel="stylesheet"
        href="{% static 'css/style.css' %}"
    >

    {% block extra_css %}{% endblock %}

</head>

<body>

{% include "includes/navbar.html" %}

<main class="py-4">

    <div class="container">

        {% include "includes/messages.html" %}

        {% block content %}

        {% endblock %}

    </div>

</main>

{% include "includes/footer.html" %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>

{% block extra_js %}{% endblock %}

</body>
</html>