{% extends "layouts/base.html" %}
{% load static %}

{% block title %}
ArventaHastane
{% endblock %}

{% block content %}

<section class="py-5">

    <div class="row align-items-center">

        <div class="col-lg-6">

            <span class="badge bg-primary mb-3">
                Dijital Hastane
            </span>

            <h1 class="display-5 fw-bold">

                ArventaHastane

            </h1>

            <p class="lead text-secondary mt-3">

                Modern, güvenilir ve dijital hastane deneyimi.

            </p>

            <div class="mt-4">

                <a href="{% url 'accounts:login' %}" class="btn btn-primary btn-lg">
                    Online Randevu
                </a>

                <a href="{% url 'accounts:login' %}" class="btn btn-outline-primary btn-lg">
                    Giriş Yap
                </a>

            </div>

        </div>

        <div class="col-lg-6 text-center">

            <img
                src="{% static 'img/hero/hero.webp' %}"
                class="img-fluid"
                alt="ArventaHastane"
            >

        </div>

    </div>

</section>

{% endblock %}