<div class="card shadow-sm">

    <div class="card-body">

        <h5 class="fw-bold mb-4">
            ArventaHastane
        </h5>

        <div class="list-group list-group-flush">

            <a href="{% url 'dashboard:index' %}"
               class="list-group-item list-group-item-action">
                <i class="bi bi-grid me-2"></i>
                Dashboard
            </a>

            <a
                href="{% url 'departments:list' %}"
                class="list-group-item list-group-item-action"
            >
                <i class="bi bi-hospital me-2"></i>

                Bölümler
            </a>

            <a href="#"
               class="list-group-item list-group-item-action">
                <i class="bi bi-calendar2-week me-2"></i>
                Randevular
            </a>

            <a href="#"
               class="list-group-item list-group-item-action">
                <i class="bi bi-person me-2"></i>
                Profilim
            </a>

            <a href="#"
               class="list-group-item list-group-item-action">
                <i class="bi bi-file-medical me-2"></i>
                Laboratuvar
            </a>

            <form method="post" action="{% url 'accounts:logout' %}" class="m-0">
                {% csrf_token %}
                <button type="submit" 
                    class="list-group-item list-group-item-action text-danger border-0 bg-transparent w-100 text-start">
                    <i class="bi bi-box-arrow-right me-2"></i>
                    Çıkış Yap
                </button>
            </form>

        </div>

    </div>

</div>